<p id="notice"><%= notice %></p>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="text-center">Check all the courses</h1>
</br>
<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
<p class="text-center">
  <a class="btn btn-lg btn-primary text-center" href="../../components/#navbar" role="button">Enroll &raquo;</a>
</p>
</div>

<hr class="featurette-divider">

<h1>Courses</h1>


<% @courses.each do |course| %>

<%= render course %>

<hr class="featurette-divider">
</br>
<% end %>

<br>
<!-- 
  <%= link_to 'New Course', new_course_path %> -->
