<div class="col-lg-4 text-center">
  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
  <h4> From <%= review.user.email %></h4>
  <p><strong><%= review.rating %></strong></p>
  <p><%= review.comment %></p>
</div><!-- /.col-lg-4 -->